/* container */
.wrapper{
    width:100%;
    background-color:black;
}

.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}

/* content */
.wrapper .content{
    padding:50px;
    text-align:center;
}

.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
  
.btn:hover {
    opacity: 1;
}
  
.LINE {
    background-color: #239b76;
}
    
.btn-wrapper {
    margin: 20px 0;
}
  
.btn-wrapper p {
    margin: 10px 0;
}